KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_load.o \
$(ARCHDIR)/arch_init.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/idt_load.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/set_pd.o \
$(ARCHDIR)/page.o \
$(ARCHDIR)/multiboot_stub.o \
$(ARCHDIR)/mmap.o \
